@(message: String)

@main("My first Playframework") {

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
      
		<h1>My First Playframework</h1>
		<br>
		<p>플레이프레임워크를 공부하기 위해 만든 프로젝트입니다</p>
		<p>bootstrap-3.1.1사용 - css, fonts, js폴더를 사용합니다</p>

        </p>
      </div>

    </div> <!-- /container -->

	<div class="container">
		<a class="btn btn-lg btn-primary" href="@routes.Application.login()" role="button">폼 데이터 입력 테스트 &raquo;</a>
	</div>


}
